{% extends '../layouts/master.html' %}

{% block title %}Edit Topic{% endblock %}

{% block extra-style-scripts %}
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block content-header %} Topics {% endblock %}

{% block breadcrumb %}
      <li><a href="#"><i class="fa fa-dashboard"></i> Questions</a></li> 
      <li><a href="#"><i class="fa fa-dashboard"></i> Edit Question</a></li> 
{% endblock %}

{% block content-title %} Edit Topic{% endblock %}

{% block content %}

  <form action="{% url 'update_question' topic_id question.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Question: </label>
        <input type="text" name="question" class="form-control" value="{{question.question}}" required="required">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Edit Question">
    </div>
  </form>
{% endblock %}
            